<p id="notice"><%= notice %></p>

<p>
  <strong>Accno:</strong>
  <%= @account.accno %>
</p>

<p>
  <strong>Plotno:</strong>
  <%= @account.plotno %>
</p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<p>
  <strong>Area:</strong>
  <%= @account.area_id %>
</p>

<p>
  <strong>Catagory:</strong>
  <%= @account.catagory_id %>
</p>

<p>
  <strong>Property value:</strong>
  <%= @account.property_value %>
</p>

<p>
  <strong>Hecter:</strong>
  <%= @account.hecter %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<p>
  <strong>Land value:</strong>
  <%= @account.land_value %>
</p>

<p>
  <strong>Improved:</strong>
  <%= @account.improved %>
</p>

<p>
  <strong>Trv:</strong>
  <%= @account.TRV %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
